.flex{
    display:flex;
  }
  .items-center{
    align-items: center;
  }
  .justify-center{
    justify-content: center;
  }
  
  .spacebetween{
    justify-content:space-between;
  }

  .uppercase{
    text-transform: uppercase;
  }
  .semibold{
    font-weight: bolder;
  }
  .bold{
    font-weight:bold ;
  }
  
  .mx-2{
    margin-left: 12px;
    margin-right: 12px;
  }
  .section1{
    background: #f0f3f46b;
    
  }
  .search{
    width: 34vw;
    padding: 7px 17px;
    border: 0.5px solid grey;
    background:#f7f8fd;
    border-radius: 5px;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }